.header-container{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 20px;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.25);

    .links > a {
        margin: 20px;
        text-decoration: none;
        color: black;
        padding: 10px;
        border: 1px solid white;
        
        &:hover{
            border: 1px solid black;
            padding: 10px;
        }
    }

    .icons {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }
    
}